<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System - Login</title>

    <link rel="stylesheet" href="bulma/bulma.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>
<body>
    
    <form class="box">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="username" placeholder="username" />
          </div>
        </div>
      
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="********" />
          </div>
        </div>
      
        <button class="button is-danger"><a href="{{ url_for('product') }}">Login</a></button>
      </form>
</body>
</html>